@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
  --mainGreen: #93cb52;
  --darkGreen: #7ab436;
  --mainTransition: all 0.3s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* utility classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}
.text-primary {
  color: var(--mainGreen);
}
.text-center {
  text-align: center;
}
.bg-light {
  background: #f4f4f4;
  color: #333;
}
.bg-dark {
  background: #333;
  color: #fff;
}
.bg-primary {
  background: var(--mainGreen);
  color: #fff;
}
.l-heading {
  text-transform: capitalize;
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}
.m-heading {
  text-transform: capitalize;
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}
.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.btn {
  display: inline-block;
  color: #fff;
  background-color: var(--mainGreen);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  text-transform: capitalize;
  transition: var(--mainTransition);
  cursor: pointer;
}
.btn:hover {
  background-color: var(--darkGreen);
}
.btn-dark {
  background: #333;
  color: #fff;
}
.list {
  margin: 0.5rem 0;
  list-style: none;
}
.list li {
  padding: 0.5rem 0;
  border-bottom: 1px dotted #444;
}

/* navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  background: #333;
  padding: 1rem;
  color: #fff;
  /* position: fixed;
  width: 100%; */
  position: sticky;
  top: 0;
  /* z-index: 1; */
}

#navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#navbar ul li a {
  text-transform: capitalize;
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
  transition: var(--mainTransition);
}

#navbar ul li a:hover {
  background-color: var(--mainGreen);
  border-radius: 5px;
}

/* showcase */
#showcase {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url('../img/showcase.jpg') center center/cover no-repeat;
  min-height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showcase-content {
  text-align: center;
  width: 90%;
  max-width: 1100px;
}

/* what */
#what .items {
  display: flex;
  padding: 1rem;
}
#what .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#what .items .item .icon {
  display: inline-block;
  background-color: var(--mainGreen);
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
/* who */
#who {
  display: flex;
}
.who-img {
  flex: 1;
  background: url('../img/people.jpg') center/cover no-repeat;
}
.who-text {
  flex: 1;
}
/* clients */
#clients .items {
  display: flex;
}
#clients .items img {
  display: block;
  width: 12%;
  margin: auto;
}
/* contact */
#contact {
  display: flex;
}
#contact .contact-form,
#contact .map {
  flex: 1;
}
#contact .contact-form .form-group {
  margin: 0.75rem 0;
}
#contact .contact-form label {
  display: block;
}
#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  outline: none;
}
#contact .map {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .map span {
  font-size: 1rem;
}
