@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
  --mainGreen: #93cb52;
  --mainTransition: all 0.3s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* utility classes */
.text-primary {
  color: var(--mainGreen);
}

/* navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background: #333;
  padding: 1rem;
  color: #fff;
  /* position: fixed;
  width: 100%; */
  position: sticky;
  top: 0;
  /* z-index: 1; */
}

#navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#navbar ul li a {
  text-transform: capitalize;
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
  transition: var(--mainTransition);
}

#navbar ul li a:hover {
  background-color: var(--mainGreen);
  border-radius: 5px;
}

/* showcase */
.showcase {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/showcase.jpg') center/cover no-repeat;
  min-height: 100vh;
}
